<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Aawash Suite">
	<!--  <groups>
		<run>
			<include name="smoketest"></include>
			<include name="sanity"></include>
		</run>
	</groups>-->
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.automation.TestFirst"/>
			<!-- <methods> <include name=".*st"></include> </methods> -->
			<class name="com.automation.TestSecond" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
